* {
    margin: 0px;
    padding: 0px;
    background-color: #F3F8F2;
}

.header {
    text-align: center;
    color: chocolate;
}

.introduction {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.webdevelop_intro, .webdevelop_tasks {
    background-color: #EBE9E9;
    padding: 10px;
    border-radius: 5px;
}

.webdevelop_intro {
    width: 47.5%;
    float: left;
}

.webdevelop_tasks {
    margin-left: 52.5%;
    list-style-position: inside;
}