* {
    margin: 0px;
    padding: 0px
}

strong {
    font-weight: none;
    color: green;
}

h1 {
    color: gray;
}

a {
    list-style-type: lower-roman;
    text-decoration: none;
}

iframe {
    width: 543px;
    margin: 20px auto;
    box-sizing: border-box;
}