* {
    padding: 0;
    margin: 0;
}

.background {
    padding: 200px;
    color: black;
    background: 
        url(images/hulk.jpeg)  /* image */
        top left / 200px 200px /* position / size */
        no-repeat  /* repetation of image */
        /* fixed Attachment */
        /* padding-box origin */
        /* content-box clip */
        /* rgb(235, 189, 189) color */
}