* {
    margin: 0;
    padding: 0;
}

section {
    margin-top: 50px;
}

header {
    border: 2px solid black;
    padding: 20px;
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    width: 80%;  /* horizontal alignment */
    margin: 20px auto; /* horizontal alignment */
    box-shadow: 5px 5px 5px 5px rgb(189, 189, 189);
    border-radius: 8px;
}

h3 {
    border: 1px solid black;;
    text-align: center;
    text-transform: capitalize;
    width: 60%;
    margin: 15px auto;
    box-shadow: 5px 5px 5px 5px rgb(189, 189, 189);
}

#askDataFromEmployee {
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    width: 35%;
    float: left; /* Creating space for another box horizontally */
    line-height: 2;
    box-shadow: 5px 5px 5px 5px rgb(189, 189, 189);
}

#employee_record {
    margin-left: 42%; /* margin will allow to align side by side boxes */
    box-sizing: border-box; /* box-size = width (including border and padding size) */
    font-family: 'Roboto Mono', monospace;
    box-shadow: 5px 5px 5px 5px rgb(189, 189, 189);
}

#employee_record {
    margin-right: 60px;
}

#askDataFromEmployee {
    margin-left: 60px;
}

label, div {
    text-transform: capitalize;
    font-size: 20px;
    overflow: auto;
}

td {
    text-transform: none;
}

table, tr {
    border-collapse: collapse;
    border: 1px solid black;
    width: 90%;
    margin: 10px auto;
    table-layout: fixed;
}

td, th {
    border: 1px solid black;
    padding: 10px 8px;
    overflow: scroll; /* overflowed data will not affect the table size */
    width: 150px;
}


#dataFieldSection {
    width: 80%;
    margin: auto;
}

input {
    margin: 8px;
    width: 200px;
    display: block;
    float: right;
    position: relative;
    overflow: auto;
}

.button {
    font-family: 'Roboto Mono', monospace;
    text-align: right;
}

button {
    margin: 20px 5px 20px 0;
    width: 80px;
    font-size: 15px;
}

button:hover {
    color: white;
    background-color: rgb(51, 50, 50);
    border-color: rgb(54, 243, 227);
    cursor: pointer;
}

h3, button{
    border-radius: 5px;
}