* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

nav {
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 20px 30px;
    font-size: 20px;
    background-color: black;
}

.logo_name {
    width: 50%;
    float:left;
}

.nav-links {
    margin-left: 50%;
}

.company_name, .fa-solid.fa-otter {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

main {
    grid-area: main;
    background-image: url(./images/main_background.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 800px;
    color: black;
}

.motto {
    text-transform: none;
}

.products {
    border: 1px solid red;
    color: black;
    grid-area: products;
    display: grid;
    height: 100vh;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: 
        'product_heading'
        'product1 product2 product3';
    gap: 10px;
}

.product_heading {
    grid-area: product_head;
}

a {
    border: 1px solid yellow;
}

.tuna_ {
    border: 1px solid black;
    grid-area: product1;
    height: 70vh;
    background-image: url(/images/products/tuna.jpg);
    background-position: top left;
    background-size: 300px;
    background-repeat: no-repeat;
    background-clip: border-box;
    
    display: block;
    cursor: pointer;
    position: relative;
}

.tuna:hover {
    background-size: 500px;
}

.product2 {
    border: 1px solid black;
    grid-area: product2;
    background-image: url(/images/products/octo.jpg);
    /* background-attachment: */
}

.product3 {
    border: 1px solid black;
    grid-area: product3;
    background-image: url(/images/products/crab.jpg);
}

.email_form {
    display: block;
}

.footer {
    grid-area: footer;
    height: 300px;
    border: 1px solid black;
    background-color: black;
    color: white;
}
