*{
    margin: 0;
    padding: 0;
}
.contact_us h3 {
    text-align: center;
    margin-bottom: 12px;
    text-transform: uppercase;
}

input {
    display: block; /* Converts element type to 'block-level Element' */
    height: 35px;
    width: 100%; /* Occupies full-width of its parent element*/
    text-align: center;
    border: 1px solid black;
    border-radius: 5px ;
    margin-bottom: 12px;
}

textarea {
    display: block;
    height: 70px;
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
}

#email_form {
    width: 50%;
    margin: auto;
}

#submit_form {
    background-color: black;
    color: white;
    font-size: 15px;
}

/* While hovering changes properties of the section */
#submit_form:hover {
    color: aqua;
}



/* ABOUT US TAB STYLING */

.about_us h3, .services_section h3 {
    margin-top: 40px;
    font-size: 20px;
    text-transform: uppercase; /* TRANSFORMING Text to uppercase*/
    text-align: center;
}

.about_us_tab{
    background-color: rgb(179, 178, 178);
    border: 0;
    color: white;
    font-size: 15px;
    margin: 0 5px 0 0;
    padding: 10px 10px 13px 10px;
    text-transform: uppercase;
}

.mvv{
    background-color: rgb(179, 178, 178);
    border: 0px;
    color: white;
    line-height: 40px;
    margin: 40px 80px 0 80px;
}

.about_text {
    background-color: black;
    color: white;
    line-height: 65px;
    margin: 0 80px 0 80px;
    text-transform: none;
    font-weight: none; /* To decide boldness */
    text-align: center;
}


/* CAROUSEL CSS TO SERVICES SECTION*/


.carousel {
    background-color: white;
    color: black;

    height: 15vh; /* vh - stands for viewport height, 
                    here 15% of the screen will be dedicated to .carousel section */
    
    margin: 15px 80px 0 80px;
    display: flex; 
    justify-content: space-between; /* Creates space between child elements Horizontally*/
    padding: 30px 0;
    font-size: 20px;
    border-radius: 5px;
}

.slide {
    position: absolute; /* Rearangement of the box relative to it's parent element position*/
    width: 90%;
    margin: 10px auto;
    opacity: 0; 
    transition: 2s opacity ease-in-out;
    transition-delay: 0ms;
    text-transform: none;
}

.slide.active{
    text-align: center;
    opacity: 1;
    z-index: 1;
    transition: 2s opacity ease-in-out; /* transition: time property type */
    transition-delay: 0; /* Transition onset delay by 0sec */
}

.carousel-button {
    border: none;
    background: none;
    z-index: 2; /* z-index -- it decides the order of layers to show on z-axes,
                    element having z-index greater than the other element's z-index will be over the other element*/
    background: none;
    font-size: 50px;
    margin: 0px 30px;
    color: black;
    cursor: pointer;
}

.carousel-button:hover {
    color: aqua;
    font-size: 60px;
    transition: all;
    transition-duration: 0.3s;
}


