.contact_us h3 {
    text-align: center;
    margin-bottom: 12px;
    text-transform: uppercase;
}

input {
    display: block;
    height: 35px;
    width: 573px;
    text-align: center;
    /* width: 150px;
    float: left; */
    margin-bottom: 12px;
}

textarea {
    display: block;
    height: 70px;
    width: 573px;
    text-align: center;
    /* width: 150px;
    float: left; */
    margin-bottom: 12px;
}

#email_form {
    /* float: right; */
    width: 40%;
    margin: auto;
}

/* TAB STYLING */

.about_us_tab, .mvv {
    background-color: rgb(179, 178, 178);
    border: 0px;
    color: white;
    padding: 30px;
}

.about_text {
    color: white;
    background-color: black;
    border: 1px solid black;
}